<div class="p-posts">
  <h1 class="p-posts__title">Scared-off<br>Championship</h1>
  <ul class="c-posts__list">
    <% @posts.each do |post| %>
    <li class="c-posts__item">
      <%= link_to post_path(post.id) do %>
        <p class="c-posts__item-body">
          <%= post.body %>
        </p>
        <p class="c-posts__item-name">
          <%= post.user_name %>
        </p>
        <% end %>
    </li>
  <% end %>
  </ul>

  <%= paginate @posts %>
</div>