/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --c-black: #110f0f;
  --c-blue-dark: #0f4c75;
  --c-blue-light: #bbe1fa;
  --c-blue: #3282b8;
  --c-red: #951717;
  --f-ja: "New Tegomin", serif;
  --f-en: "Creepster", system-ui;
}

/* ディープブラック #000000, ブラッドレッド #B22222, ダークレッド #8B0000, ダークグレー #2F4F4F, オリーブドラブ #556B2F, ブラッドオレンジ #FF4500 */

body {
  background: #010101;
  padding-top: 80px;
}

a:focus,
a:hover {
  text-decoration: none;
}

.l-header {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.l-header__back-to-top {
  font-size: 14px;
  color: #b22222;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1.2;
  font-family: var(--f-en);
}

.l-header__post-btn {
  font-size: 16px;
  padding: 6px 15px;
  border-radius: 5px;
  color: white;
  box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.02);
  background: #8b0000;
}

.p-home,
.p-posts,
.p-new,
.p-show {
  padding: 0 20px 30px;
  max-width: 800px;
  margin: 0 auto;
}

.p-home__title,
.p-posts__title {
  font-size: 45px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #b22222;
  font-family: var(--f-en);
  margin: 0 0 20px;
}

.p-home__info {
  margin: 0 10px 30px;
  color: #596868;
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
}

.p-home .c-posts__item {
  position: relative;
}

.p-home .c-posts__item::before {
  position: absolute;
  top: -7px;
  left: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
}

.p-home .c-posts__item:nth-of-type(1)::before {
  content: "1";
  background: #c39d37;
}

.p-home .c-posts__item:nth-of-type(2)::before {
  content: "2";
  background: #b9b9b9;
}

.p-home .c-posts__item:nth-of-type(3)::before {
  content: "3";
  background: #cd845e;
}

.p-home__more {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.p-home__more-btn {
  padding: 10px 30px;
  border-radius: 5px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: bold;
  background-color: #dcdcdc;
  color: #2f4f4f;
}

.c-posts__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.c-posts__item a {
  padding: 20px 24px;
  border-radius: 8px;
  background: #3d5151;
  color: #fff;
  display: block;
  font-family: var(--f-ja);
  box-shadow: 3px 5px 5px 0 rgba(255, 255, 255, 0.04);
}

.c-posts__item-name {
  font-size: 12px;
  margin-bottom: 0;
  text-align: right;
  color: #cacaca;
}

.c-posts__item-body {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}

/*ページネーション自体のデザイン*/
.pagination {
  display: flex;
  justify-content: center;
}

.pagination > li > a {
  border: none;
  color: #b22222;
  background: transparent;
}

.pagination > .active > a {
  background: #fff;
  color: #b22222;
  border-radius: 15px !important;
}

.pagination > li > a:hover {
  border-radius: 15px;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  background: transparent;
}

.p-new {
  padding: 0 30px;
}

.p-new__item {
  margin-bottom: 30px;
}

.p-new__title {
  margin: 0 0 30px;
  font-family: var(--f-ja);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #b22222;
}

.p-new__item-label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #b22222;
}

.p-new__item-input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #eeeeee;
  outline: none;
}

.p-new__submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.p-new__submit-btn-input {
  background: #8b0000;
  border: none;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.03em;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  min-width: 200px;
}

.p-show__head {
  text-align: right;
  line-height: 1.3;
  color: #2f4f4f;

  p {
    margin-bottom: 0;
  }
}

.p-show__points {
  margin: 20px auto 0;
  padding: 5px 20px;
  border-radius: 5px;
  color: #B22222;
  font-family: var(--f-ja);
  font-size: 16px;
  text-align: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    font-size: 30px;
    font-weight: bold;
  }
}

.p-show hr {
  border-color: #596868;
  font-family: var(--f-ja);
}

.p-show__body {
  color: #cfcfcf;
  padding: 30px 10px 30px;
  letter-spacing: 0.05em;
  line-height: 1.75;
  font-size: 16px;
  word-break: break-all;
  font-family: var(--f-ja);
}

.p-show__body p {
  margin-bottom: 15px;
}

.p-show__btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  
  button {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: var(--f-ja);
    font-size: 18px;
    color: #B22222;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
  }
}

.p-show__more {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.p-show__more-btn {
  padding: 10px 30px;
  font-size: 15px;
  font-weight: bold;
  color: #596868;
}

.l-footer {
  margin: 50px 0 10px;
  text-align: center;
}
